$careers-actiontaker: rgb(232,115,49); // traitify.careers-actiontaker​
$careers-analyzer: rgb(23,174,231); // traitify.careers-analyzer​
$careers-inventor: rgb(14,224,189); // traitify.careers-inventor​
$careers-mentor: rgb(237,67,67); // traitify.careers-mentor​
$careers-naturalist: rgb(56,193,76); // traitify.careers-naturalist​
$careers-planner: rgb(248,208,14); // traitify.careers-planner​
$careers-visionary: rgb(167,91,216); // traitify.careers-visionary